body{
    background-image: url(image_6483441.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}
.si{
  background-color: #9f9816; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.si{
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translateY(50%);
}
.lo{
    background-color: #9f9816; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .lo{
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translateY(50%);
  }
